

.opening{width:300px;}
.opening h2{text-decoration: underline;}

.logo,
main div,
.facilities h2{margin-top:50px;}

#food{margin-top:0px;}

.location{margin-top:10px;}



@media(max-width:1550px){
    .location, .facilities{width:700px;}
}

@media(max-width:1075px){
    .location, .facilities{width:500px;}

    main h1{font-size:25px;}
    main div h2{font-size: 22px;}
    main div p{font-size: 16px;}

    .logo{height:125px; width:125px;}
}

@media(max-width:800px){
    .location, .facilities{width:400px;}

    main h1{font-size:22px;}
    main div h2{font-size: 18px;}
    main div p{font-size: 14px;}

    .logo{height:100px; width:100px;}

    .logo,
    main div,
    .facilities h2{margin-top:20px;}

    .location{margin-top:5px;}
}



@media(max-width:600px){
    .location, 
    .facilities,
    .opening{width:250px;}

    main h1{font-size:22px;}
    main div h2{font-size: 18px;}
    main div p{font-size: 14px;}

    .logo{height:75px; width:75px;}
}