

.message,
.message div{display: flex; align-items: center;}


.message,
.message div,
textarea{border: solid #000;}


.message,
.message div,
.message button{border-radius: 30px;}


.message{
    width:800px;
    height:500px;
    margin-top:97px;
    background-color: #01EDBB;
    flex-direction: column;  
}


.message h2{margin-top:10px;}


.message div{height:40px; flex-direction: row;}


.message div,
textarea{width:400px;}


.message div,
.message button{margin-top:30px;}


.message div i{font-size: 25px;}


.message div i,
.message div input{margin-left: 20px;}


textarea{height:100px; margin-top:50px;}


.message div input,
textarea{background-color: transparent;}


.message div input,
textarea,
.message button{font-size:20px; }


.message div input{outline: none; border: none;}

.message button{
    height:30px;
    background-color: #000;
    color:#FFF;
    width:200px;
}

.message button:hover{color:#000; background-color: #FFF;}






@media(max-width:1075px){
    .message{width:500px;}

    .message h2{font-size:25px;}

    .message div input,
    textarea,
    .message button{font-size: 16px;}

    .message button{width:140px;}
}


@media(max-width:600px){

    .message div,
    textarea{width:200px;}

    .message div{height:20px; margin-top:20px;}

    .message h2{font-size:20px; line-height: 25px;}
    .message div i{font-size: 15px; margin-left:10px;}

    .message div input{
        font-size: 12px; 
        width:120px;
        margin-left: 10px;
    }

    .message button{
        font-size:12px;
        width:100px;
    }

    textarea,
    .message button{margin-top:30px;}

    .message{
        width:250px; 
        height:350px;
        margin-top:70px;
    }

    .footer-div{margin-top:100px;}
}

@media(max-width:520px){.phone-title{font-size:15px;}}