

main div{margin-top:20px;}

main img,
.intro h2{margin-top:50px;}



@media(max-width:1550px){
    main div,
    main img{width:700px;}

    main img{height:300px;}

    main div h1{font-size: 30px;}
    main div h2{font-size: 22px;}
    main div p{font-size: 16px;}

    .intro h2{margin-top:30px;}
}


@media(max-width:1075px){
    main div,
    main img{width:500px;}

    main img{height:200px; margin-top:20px;}

    main div h1{font-size: 25px; line-height: 40px;}
    main div h2{line-height: 20px;}
}


@media(max-width:600px){
    main div,
    main img{width:250px;}

    main img{height:100px;}

    main div h1{font-size: 18px;}
    main div h2{font-size: 15px;}
    main div p{font-size: 12px;}

    main div{margin-top:10px;}
    .intro h2{margin-top:30px;}

    .intro-image{margin-top:10px;}
}


@media(max-width:520px){.phone-title{font-size:15px;}}

@media(max-width:400px){.phone-title{font-size: 12px; margin-left:60px;}}