

.logo{
    position: absolute; 
    margin-top:-2950px;
    height:150px;
    width:150px;
}


main div{width:1200px;}

main p,
.news p{text-align: left;}


main img,
main div{margin-top:50px;}

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news div,
.news img{width:430px;}



.news p{font-size: 16px;}

.news img,
.astronaut,
.intro-image{margin-top:0px;}

.activities-button{
    height:50px;
    width:200px;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px;
    background-color: transparent;
    margin-top:10px;
    align-content: center;
    text-align: center;
}

.activities-button:hover{background-color: #01EDBB;}



@media(max-width:1550px){
    main div,
    main img{width:700px;}

    .logo{
        height:100px; 
        width:100px;
        margin-top:-2580px;
    }

    main h1{font-size:25px;}
    main div h2{font-size:22px;}
    main div p{font-size: 18px;}

    .news h3,
    .activities-button{font-size:16px;}

    .news p{font-size: 14px;}

    .activities-button{height:40px; width:160px;}
}



@media(max-width:920px){
    main div,
    main img{width:400px;}

    main img{height:150px;}

    .logo{
        height: 75px; 
        width:75px;
        margin-top:-1970px;
    }

    main img,
    main div{margin-top:20px;}

    main h1{font-size: 22px; line-height: 25px;}
    main div h2{font-size: 18px;line-height: 20px;}
    main div p{font-size: 15px;}

    .news div,
    .news img{width:200px;}

    .news img{height:100px;}

    .news h3{font-size: 14px;}

    .news p,
    .activities-button{font-size: 12px;}
    
    .activities-button{
        letter-spacing: 2px;
        height:20px;
        width:130px;
    }
}



@media(max-width:600px){
    main div,
    main img{width:250px;}

    .logo{
        height:60px;
        width:60px;
        margin-top:-1470px;
    }

    main h1{font-size: 16px;}
    main div h2{font-size: 14px;}
    main div p{font-size: 12px;}

    .intro-image{height:150px;}
    main img{height:100px;}

    .news h3{font-size: 10px;}
    
    .news p,
    .activities-button{font-size: 8px;}

    .activities-button{
        letter-spacing: 1px;
        height:15px;
        width:90px;
    }
}